{% extends 'base.html.twig' %}

{% block title %}AgendamentoPagamento{% endblock %}

{% block body %}
    <h1>AgendamentoPagamento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agendamento_pagamento.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ agendamento_pagamento.data ? agendamento_pagamento.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Forma_pagto</th>
                <td>{{ agendamento_pagamento.formaPagto }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ agendamento_pagamento.valor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('agendamento_pagamento_index') }}">back to list</a>

    <a href="{{ path('agendamento_pagamento_edit', {'id': agendamento_pagamento.id}) }}">edit</a>

    {{ include('agendamento_pagamento/_delete_form.html.twig') }}
{% endblock %}
