{{ form_start(form) }}
    {% if operacao == 'novo' %}
        <div class="form-group">
            {{ form_label(form.cpf) }}
            {{ form_widget(form.cpf, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(form.cpf) }}</small>
            <div class="invalid-feedback">
                {{ form_errors(form.cpf) }}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.nome) }}
        {{ form_widget(form.nome, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.nome) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.nome) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.email) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.email) }}
        </div>
    </div>
{#
    <div class="form-group">
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.password) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.password) }}
        </div>
    </div>
#}    
    <div class="form-row mb-5">

        <div class="form-group col mr-3">
            {{ form_label(form.telefone) }}
            {{ form_widget(form.telefone, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(form.telefone) }}</small>
            <div class="invalid-feedback">
                {{ form_errors(form.telefone) }}
            </div>
        </div>

        <div class="form-group col mr-3">
            {{ form_label(form.nascimento) }}
            {{ form_widget(form.nascimento, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(form.nascimento) }}</small>
            <div class="invalid-feedback">
                {{ form_errors(form.nascimento) }}
            </div>
        </div>

    </div>

    <div class="form-group">
        {{ form_label(form.endereco) }}
        {{ form_widget(form.endereco, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.endereco) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.endereco) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.cidade) }}
        {{ form_widget(form.cidade, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.cidade) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.cidade) }}
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col mr-3 mb-3">
            {{ form_label(form.uf) }}
            {{ form_widget(form.uf, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(form.uf) }}</small>
            <div class="invalid-feedback">
                {{ form_errors(form.uf) }}
            </div>
        </div>

        <div class="form-group col mr-3 mb-3">
            {{ form_label(form.cep) }}
            {{ form_widget(form.cep, {'attr': {'class': 'form-control'}}) }}
            <small class="form-text text-muted">{{ form_help(form.cep) }}</small>
            <div class="invalid-feedback">
                {{ form_errors(form.cep) }}
            </div>
        </div>

    </div>

    <div class="form-group">
        {{ form_label(form.fpagamentoFav) }}
        {{ form_widget(form.fpagamentoFav, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.fpagamentoFav) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.fpagamentoFav) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.arquivoFoto) }}
        {{ form_widget(form.arquivoFoto, {'attr': {'class': 'form-control'}}) }}
        <small class="form-text text-muted">{{ form_help(form.arquivoFoto) }}</small>
        <div class="invalid-feedback">
            {{ form_errors(form.arquivoFoto) }}
        </div>
    </div>
    
    <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
{{ form_end(form) }}
